body {
  background-color: grey;
  background-image: url("../images/book1.jpg");
  /* this is if you wanna make the text bold -> font-weight: 700; */
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.description{
height: 250px;
  width: 100%;
  border: 1px solid #ccc;
  overflow: auto;
}

.card{
  margin-top: 20px;
  
  
}

.bookcard{
  height: 650px;
  width: 500px;

}

.btn-primary{
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left,red, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,red, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
    color:black;
    
}

.display-4 {
  font-weight: 700;
  font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
  font-size: 58px;
  margin-bottom: -30px;
  margin-top: -30px;

}

.jumbotron {
  background-color: red;
  background-image: url("../images/background.jpg");
  padding-bottom: 4%;
}