html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: grey;
  background-image: url("../images/book1.jpg");
  /* this is if you wanna make the text bold -> font-weight: 700; */
}
img {
    display: block;
    margin-right: 20px;
    padding-top: 10px;
    height: 200px;
    float: left;
    margin-bottom: 20px;
}

.description{
  height: 200px;
  width: 100%;
  border: 1px solid #ccc;
  overflow: auto;
}

.card{
  margin-top: 20px;
  margin-left:20px;
  width:500px;
  
}

.bookcard{
  height: 475px;
  width:500px;
  margin-left: 20px;
  margin-right: 20px;
;
}

.btn-primary{
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.display-4 {
  font-weight: 700;
  font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
  font-size: 58px;
  margin-bottom: -30px;
  margin-top: -30px;

}

.jumbotron {
  background-color: red;
  background-image: url("../images/background.jpg");
  padding-bottom: 4%;
}

p {
  padding-bottom: auto;
}

.storesAroundMe {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}

.titleAuthor {
  float: right;
}

.footer{
  position: absolute;
  bottom: 0;
  height:40px;
  width:100%;
  background-image:url("../images/background.jpg");
  background-color: grey;
  color:white;
  text-align: center;
  margin-top: 20px;
  clear: both;
}

.lastRow {
  margin-bottom: 70px;
}

.store-name {
  text-align: center;
}

.card-title {
  text-align: center;
}